@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Neucha&display=swap');

body {
	background: rgb(255,225,215);
	background: linear-gradient(90deg, rgba(255,225,215,1) 0%, rgba(237,231,229,1) 69%, rgba(255,225,215,1) 100%);
	color: black;
	font-family: 'Neucha', cursive;
	margin: 0;
	user-select: none;
}

p {
	margin: 0;
}

.mount {
	bottom: 0;
	left: 0;
	position: fixed;
	transform: scaleY(0.7);
	transform-origin: bottom;
	width: 100%;
}

.layer-1 { z-index: 15; }
.layer-2 { z-index: 13; }
.layer-3 { z-index:  9; }
.layer-4 { z-index:  7; }
.layer-5 { z-index:  5; }
.layer-6 { z-index:  3; }
.layer-7 { z-index:  1; }

.snow-line {
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;

	height: 100vh;
	left: 0%;
	opacity: 100%; 
	position: fixed;
	top: 0%;
	width: 100vw;

	transition: opacity 1s ease-in;
}


.snow-line.fall-type-0 { animation-name: fall-anim-0; }
.snow-line.fall-type-1 { animation-name: fall-anim-1; }
.snow-line.fall-type-2 { animation-name: fall-anim-2; }
.snow-line.fall-type-3 { animation-name: fall-anim-3; }
.snow-line.fall-type-4 { animation-name: fall-anim-4; }

@keyframes fall-anim-0 {
	0% 		{ transform: translate(0, -100%); }
	100% 	{ transform: translate(0, 100%); }
}
@keyframes fall-anim-1 {
	0% 		{ transform: translate(-20%, -100%); }
	100% 	{ transform: translate(0, 100%); }
}
@keyframes fall-anim-2 {
	0% 		{ transform: translate(20%, -100%); }
	100% 	{ transform: translate(0, 100%); }
}
@keyframes fall-anim-3 {
	0% 		{ transform: translate(0, -100%); }
	100% 	{ transform: translate(-10%, 100%); }
}
@keyframes fall-anim-4 {
	0% 		{ transform: translate(0, -100%); }
	100% 	{ transform: translate(10%, 100%); }
}


.snow-line.time-type-0 { animation-duration:  7s; }
.snow-line.time-type-1 { animation-duration:  8s; }
.snow-line.time-type-2 { animation-duration:  9s; }
.snow-line.time-type-3 { animation-duration: 10s; }
.snow-line.time-type-4 { animation-duration: 11s; }


.snowflake {
	background-color: white;
	border-color: white;
	border-radius: 50%;
	border-style: solid;
	position: absolute;
}

.text {
	align-items: center;
	display: flex;
	font-size: 6vh;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;
	width: 100%;
	z-index: 100;
}

.subtext {
	animation: appearance;
	animation-duration: 4s;
	animation-timing-function: ease-in;
	background-color: whitesmoke;
	color: black;
	display: flex;
	flex-direction: row;
	font-size: 4vh;
	opacity: 0.7;
	padding: 0 7px 0 7px;
	position: absolute;
	top: 58%;
	word-spacing: 0.5vw;
}


@keyframes appearance {
	0%   { opacity: 0;	 }
	100% { opacity: 0.7; }
}


.whale-cont {
	left: 27%;
	position: fixed;
	width: 27%;
	z-index: 10;
	opacity: 0;
	transition: all 0.5s ease-out;
}

.whale {
	position: absolute;
	left: 5%;
	top: 0;
	width: 100%;
	transition: all 1s linear;
}

.whale.float {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes floating {
  0%  { 
  	transform: translate( 0px,  0px) rotate(3deg);
  }
  17% {
  	transform: translate( 0px,  2px) rotate(0deg);
  }
  34% {
  	transform: translate( 3px,  2px) rotate(3deg);
  }
  51% {
  	transform: translate( 3px, -2px) rotate(6deg);
  }
  68% {
  	transform: translate(-2px, -1px) rotate(3deg);
  }
  85% {
  	transform: translate(-2px,  1px) rotate(1deg);
  }
  100% {
  	transform: translate( 0px,  0px) rotate(3deg);
  }
}
